html {
  background-color: #FFF0E8;
}

h1{
  font-weight: normal;
  font-size: 3rem;
  font-style: none;
  text-decoration: none;
  font-family: 'Chewy', cursive;
  line-height: 1.5;
  color: #CC6683;
}


body {
  margin: 0;
  }


p {
  line-height: 1.25;
}

main {
  padding: 0.5em;
}


header{
  background-color: #FFADBF;
  padding: 1em 2em 0.5em 2em;
  margin: 0;
  text-align: center;
}

footer{
  background-color: #FFADBF;
  padding: 1em 2em 0.5em 2em;
  margin: 0;
  text-align: center;
}


h2 {
  font-weight: normal;
  font-size: 2rem;
  text-decoration: none;
  font-family: 'Chewy', cursive;
  line-height: 1.5;
  padding: 1em 0em 0em 0em;
  color: #CC6683;
  border-top:5px solid #FFADBF

}


h3 {
  font-weight: normal;
  font-size: 1.2rem;
  text-decoration: none;
  font-family: 'Chewy', cursive;
  line-height: 1.5;
  padding: 0em 0em 0em 0em;
  color: #CC6683;

}


a {
  color: #CC6683;
}

figcaption {
  font-size: .8rem;
  font-style: italic;
  color: #CC6683;
  text-align: center;
}

figure {
  border: 2px solid #CC6683;
  background-color: #FFADBF;
  border-radius: .4em;
  padding: 0.5em 0.5em 0.5em 0.5em;
}
img {
  width: 100%;
}

dt, dd {
  color: #CC6683;
  margin: .5em 0em 0em 0em;
}

dt {
  font-style: bold;
}

dd {
  color: #2B0B04;
  margin: .25em 0em 0em 0em;
}

li {
  margin: 1em 1em 1em 1em;
}


nav ol {
  padding: 0;
}

footer ol {
  list-style-type: circle;
}

b {
  color: #CC6683;
  font-weight: bold;
}

span {
  text-align: center;
  font-size: 2.5rem;
}


blockquote {
  font-size: 1.25rem;
  font-style: italic;
  color: #CC6683;
  text-align: center;
}


cite {
  text-align: center;
}



div {
  text-align: center;
  font-size: 1rem;
  color: #CC6683;
  margin: .5em 0em 0em 0em;
}

nav {
  text-align: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin: 0em 0em .25em 0em;
}

nav a {
  display: inline-block;
  padding: 1em 1em;
  background-color: #CC6683;
  color: #fff;
  text-decoration: none;
  border-radius: 10px;
  transition: 1s ease
}

nav a:hover {
  background-color:#CC6683;
}
