h1 {
  color: #b32f52;
  font-family: 'Chewy', cursive;
  font-weight: normal;
  font-size: 3rem;
  line-height: 1;
  text-align: center;
}

body {
  margin: 0;
}

main {
  padding: 0.5em;
}

header h1 {
margin: 0;
}

h2 {
  color: #b32f52;
  font-family: 'Chewy', cursive;
  font-weight: normal;
  font-size: 2rem;
  text-align: left;
  border-top: 3px solid #ffe524;
}

h3 {
  color: #b32f52;
  font-family: 'Chewy', cursive;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 1;
  text-align: left;
}

header {
  background-color: #ffe524;
  text-align: center;
}

nav {
  background-color: #ffe524;
  padding: 0.5em;
}

nav ul {
  list-style-type: none;
  padding: 0.5;
  margin: 0;
}

nav li {
  display: inline;
}

nav a {
  display: inline-block;
  padding: 0.5em 0.5em;
  background-color: #b2a215;
  text-decoration: none;
  color: white;
  border-radius: 0.2em
}

nav a:hover {
  background-color: #cc3865;
}

blockquote {
  color: #b2a215;
  font-size: 1.2rem;
  font-style: italic;
  line-height: 1.2;
  text-align: center;
}

  cite {
  color: #b2a215;
  text-align: center;
  font-size: 0.7rem;
  font-size: 1.2rem;
}

blockquote cite {
  text-align: center;
  display: block;
}

footer {
  background-color: #ffe524;
  text-align: center;
  padding: 1.5em;
}

figure {
  background-color: #fffce0;
  text-align: center;
  border: 2px solid #b2a215;
  border-radius: 20px;
  font-style: italic;
  line-height: 1.5em;
  padding: .75em;
  font-size: .75em;
}

img {
  width: 100%
  border: solid #fffce0;
  border-radius: 20px;
}
